    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-deep" data-stellar-background-ratio="0.5">
      <div class="container pt-80 pb-80">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact style-1 pb-15 pt-15 p-20 bg-white"> <i class="pe-7s-note2 text-black-light mt-5 font-48 pull-right" data-text-color="#ccc"></i>
              <h2 class="animate-number text-theme-colored mt-0 font-48" data-value="32000" data-animation-duration="2000">0</h2>
              <div class="clearfix"></div>
              <h4 class="funfact-title">Damnificados</h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact style-1 pb-15 pt-15 p-20 bg-white"> <i class="pe-7s-global text-black-light mt-5 font-48 pull-right" data-text-color="#ccc"></i>
              <h2 class="animate-number text-theme-colored mt-0 font-48" data-value="17583" data-animation-duration="2500">0</h2>
              <div class="clearfix"></div>
              <h4 class="funfact-title">Hogares para reconstruir</h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact style-1 pb-15 pt-15 p-20 bg-white"> <i class="pe-7s-users text-black-light mt-5 font-48 pull-right"></i>
              <h2 class="animate-number text-theme-colored mt-0 font-48" data-value="52097" data-animation-duration="3000">0</h2>
              <div class="clearfix"></div>
              <h4 class="funfact-title">Donaciones</h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact style-1 pb-15 pt-15 p-20 bg-white"> <i class="pe-7s-medal text-black-light mt-5 font-48 pull-right" data-text-color="#ccc"></i>
              <h2 class="animate-number text-theme-colored mt-0 font-48" data-value="10715" data-animation-duration="2500">0</h2>
              <div class="clearfix"></div>
              <h4 class="funfact-title">Familias ayudadas</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
<section>
 <%= image_tag "donar.png", class: "img-fullwidth", alt:"project" %>
 <%= image_tag "div.png", class: "img-fullwidth", alt:"project" %>
</section>