<!-- Footer -->
  <footer id="footer" class="footer pb-0" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
    <div class="container pb-20">
      <div class="row multi-row-clearfix">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark"> <%= image_tag "logo-wide-white.png", class: "menu_icon" %>
            <p class="font-12 mt-10 mb-10"></p>
            <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Read more</a>
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-20">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Enlaces</h5>
            <ul class="list-border list theme-colored angle-double-right">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Registra tu necesidad</a></li>
              <li><a href="#">Donar</a></li>
              <li><a href="#">Voluntarios</a></li>
              <li><a href="#">Centros de acopio</a></li>
              <li><a href="#">Redes Sociales</a></li>
              <li><a href="#">Terminos de uso</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Contactanos</h5>
            <ul class="list-border">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#" class="lineheight-20"></a></li>
            </ul>
            <p class="text-white mb-5 mt-15">Newsletter</p>
            <form id="footer-mailchimp-subscription-form" class="newsletter-form mt-10">
              <label class="display-block" for="mce-EMAIL"></label>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Your Email"  class="form-control" data-height="37px" id="mce-EMAIL">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-colored btn-theme-colored m-0"><i class="fa fa-paper-plane-o text-white"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-theme-colored p-20">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="text-white font-11 m-0">Algunos derechos reservados</p>
        </div>
      </div>
    </div>
  </footer>